@import "tailwindcss";

@theme {
  --color-libalnna-blue: #0074c9;
  --color-libalnna-yellow: #ffc306;
  --color-libalnna-red: #ed0044;
  --color-libalnna-green: #00a83c;
  --color-libalnna-dark: #24282b;
  --color-libalnna-light: #ededed;
}